
@{
    ViewData["Title"] = "SiparisTamam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1 class="alert-success text-center text-dark">Your order will be delivered as soon as possible.</h1>*@

<div class="alert alert-dismissible alert-success text-center">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Your order will be delivered as soon as possible.</strong>Back to <a asp-action="Index" asp-controller="Home" class="alert-link">Shopping</a>.
</div>

